* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'simoneta';
  color: #495551;
  max-height: 800px;
}

.flex-container header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff8f5;
}

.flex-horizontal-1 {
  display: flex;
  width: 100%;
}

.flex-item-form {
  flex: 1;
  padding-left: 10px;
  width: 200px;
  padding: 20px;
  border-radius: 7px;
  background-color: #fff8f5;
  text-align: center;
}
.flex-item-form table {
  margin: 0 auto;
  color: grey;
}
td {
  padding-right: 10px;
  font-size: 15px;
}

.flex-item-form label {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
  color: grey;
}

.flex-item-info {
  flex: 1;
  padding-left: 10px;
  width: 200px;
  padding: 20px;
  border-radius: 7px;
  background-color: #fff8f5;
  color: #495551;
  text-align: center;
}

input {
  width: 50%;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.flex-item-info button {
  width: 40%;
  background: salmon;
  color: #495551;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  margin: 50px;
}

.flex-horizontal-1 .bottom-text a:hover {
  text-decoration: underline;
}

h2 {
  padding-bottom: 0px;
}
h3 {
  padding: 10px;
}

@media (max-width: 800px) {
  .flex-container {
    display: flex;
  }
}
